body {

    background-color: burlywood;
   
    
}


/* reset */
* { 
    margin: 0;
    text-decoration:0;
    }



h1{
    text-align: center;
    
}

h2{
    text-align: center;
    margin:5%;

}
table {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-color: black;

}
.bandeau {
    /* width: 897px; */
    height: 5px;
    background-color: black;
    margin: 60px;
    text-align: center;
    

}  



ul{
    left: 50%;
    

}
header{
    height: 330px;
    width: 100%;
    background-image: url(image0\ \(1\).jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    

}
.logo {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
}
@media screen and (min-width:1280px) {
    body {

        background-color: burlywood;
        width: 50%;
        height: 100%;
        margin: auto;
        border-left: 1px solid ;
        border-right: 1px solid ;
        
        
    }
    header{
        height: 400px;
        width: 100%;
        background-image: url(image0\ \(1\).jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        
        
    
    }

}
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}