body {

    background-color: burlywood;
   
    
}

* { 
    margin: 0;
    text-decoration:0;
    }



h1{
    text-align: center;
    
}

h2{
    text-align: center;
    margin:5%;

}
table {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px black;

}
table th  {
    border: 1px solid ;
}
table td {
    border: 1px solid ;
} 

.bandeau {
    /* width: 897px; */
    height: 5px;
    background-color: black;
    margin: 60px;
    text-align: center;
} 

ul{
    left: 50%;
}

header{
    height: 330px;
    width: 100%;
    background-image: url(image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
}
#image1{
    height: 70px;
    width: 70px;

}

#image2{
    height: 70px;
    width: 70px;

}
/* .tableau {
border: 1px solid black;
} */

@media screen and (min-width:1280px) {
    body {

        background-color: burlywood;
        width: 50%;
        height: 100%;
        margin: auto;
        border: 1px solid ;
        
    }

    html{
        background-color: white;
    }

    header{
        height: 400px;
        width: 100%;
        background-image: url(image.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        text-align: center;
        
    }

}

.btn{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.icone{
    width: 35px;
    height: 35px;
}